.WD__callbutton {
    &[data-theme='classic'] {
        .WD__callbutton__bulb {
            display:none;
        }
        // .WD__callbutton__circle {
        //     margin:0 0 -5px 0;
        // }
    }
    &[data-theme='operator'] {
        .WD__callbutton__icon {
            background-image:url(/public/images/callbutton_operator.svg);
        }
    }
    &[data-size='large'] {
        .WD__callbutton__circle {
            width:98px;
            height:98px;
        }
    }
    &[data-size='normal'] {
        .WD__callbutton__circle {
            width:88px;
            height:88px;
        }
    }
    &[data-size='small'] {
        .WD__callbutton__circle {
            width:78px;
            height:78px;
        }
        .WD__callbutton__bulb1 {
            width:15px;
            height:15px;
            left:0px;
        }
        .WD__callbutton__bulb2 {
            width:20px;
            height:20px;
            right:-7px;
        }
        .WD__callbutton__bulb3 {
            width:10px;
            height:10px;
        }
    }
    &[data-pos='right'] {
        right:40px;
        bottom:40px;
    }
    &[data-pos='right-closer'] {
        right:5%;
        bottom:8%;
    }
    &[data-pos='left'] {
        right:auto;
        left:40px;
        bottom:40px;
    }
    &[data-pos='left-closer'] {
        right:auto;
        left:5%;
        bottom:8%;
    }
    &[data-pos^='left'] {
        .WD__callbutton__tooltip {
        	margin-left:-70px;

            &:after {
            	transform:translate3d(0,-80%,0) rotate3d(0,0,1,-36deg);
            }
        }
        .WD__callbutton__bulb2,
        .WD__callbutton__bulb3 {
            display:none;
        }
        .WD__callbutton__cloud {
            right:auto;
            left:-15px;
            bottom:25px;

            &:after {
                right:auto;
                left:18%;
                transform:translate3d(0,-110%,0) rotate3d(0,0,1,-24deg);
            }
        }
        .WD__callbutton__time__container {
            right:auto;
            left:98%;
        }
        .WD__callbutton__calling {
            right:auto;
            left:15px;
        }
    }
    &[data-pulse='true'] {
        .WD__callbutton__blob {
            &:nth-child(1) {
                animation:WD__callbutton__blob1 1.7s linear infinite alternate;
            }
            &:nth-child(2) {
                animation:WD__callbutton__blob2 2.5s linear infinite alternate;
            }
            &:nth-child(3) {
                animation:WD__callbutton__blob3 3.2s linear infinite alternate;
            }
            &:nth-child(4) {
                animation:WD__callbutton__blob4 1.7s linear infinite alternate;
            }
        }
    }
    &[data-pulse-icon='true'] {
        .WD__callbutton__icon {
            animation:WD__callbutton__pulseIcon 5.5s ease-in-out infinite;
            animation-delay:5s;
        }
    }
}
.WD__callbutton[data-color='#6a76fc'] .WD__callbutton__blob {
    background:#6a76fc;
}
.WD__callbutton[data-color='#a570f9'] .WD__callbutton__blob {
    background:#a570f9;
}
.WD__callbutton[data-color='#00a8ff'] .WD__callbutton__blob {
    background:#00a8ff;
}
.WD__callbutton[data-color='#4dc95b'] .WD__callbutton__blob {
    background:#4dc95b;
}
.WD__callbutton[data-color='#00ab6b'] .WD__callbutton__blob {
    background:#00ab6b;
}
.WD__callbutton[data-color='#1abc9c'] .WD__callbutton__blob {
    background:#1abc9c;
}
.WD__callbutton[data-color='#ff2d55'] .WD__callbutton__blob {
    background:#ff2d55;
}
.WD__callbutton[data-color='#ee5050'] .WD__callbutton__blob {
    background:#ee5050;
}
.WD__callbutton[data-color='#ff6000'] .WD__callbutton__blob {
    background:#ff6000;
}
.WD__callbutton[data-color='#3e4757'] .WD__callbutton__blob {
    background:#3e4757;
}
.WD__callbutton[data-color='#26262a'] .WD__callbutton__blob {
    background:#26262a;
}
@keyframes WD__callbutton__pulseIcon {
    0% {
        transform: rotate(0deg) translate3d(0, -3px, 0) skew(1deg);
    }
    2.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    5% {
        transform: rotate(25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    7.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    10% {
        transform: rotate(25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    12.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    15% {
        transform: rotate(25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    17.5% {
        transform: rotate(-25deg) translate3d(0, -3px, 0) skew(1deg);
    }
    100%, 20% {
        transform: rotate(0deg) translate3d(0, -3px, 0) skew(1deg);
    }
}
.WD__callbutton--ACTIVE {
    &[data-pos^='right'] {
        animation:WD__callbutton__slipRight-show .45s $cubic57 forwards;
    }
    &[data-pos^='left'] {
        animation:WD__callbutton__slipLeft-show .45s $cubic57 forwards;
    }
    .WD__callbutton__circle {
        will-change:width, height;
        transition:width 0.5s cubic-bezier(0.42, 0, 0.05, 2.3), height 0.5s cubic-bezier(0.42, 0, 0.05, 2.3);
        box-shadow:0 10px 32px -16px rgba($black_gray,.5);
    }
    &[data-pulse-icon='true'] {
        .WD__callbutton__icon {
            animation-delay:0s;
        }
    }
}
#widgetsWrapper[data-mode='callback'] {
    .WD__callbutton__tooltip {
        opacity: 1;
    	pointer-events: auto;
    	transform: scale3d(1,1,1);
    }
}
@keyframes WD__callbutton__slipRight-show {
    0% {
        opacity:0;
        transform:translate3d(250px, 65px, 0) scale3d(1.4, 0, 1);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
@keyframes WD__callbutton__slipLeft-show {
    0% {
        opacity:0;
        transform:translate3d(-250px, 65px, 0) scale3d(1.4, 0, 1);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
