.WD__modal__sendReview {
    @include abs_50(642, 460);
    margin-top:-260px;
    border-radius:13px;
    color:#fff;
    border:none;
    padding:0;
    transform:translate3d(999em, 0, 0);
    // backface-visibility:hidden;
    // background-image:linear-gradient(225deg,lighten(#3e4757,6%),lighten(#1f242c,12%));
    background-image:linear-gradient(225deg,#4B4E67,lighten(#2e314f,5%));
    box-shadow:0 2px 54px -10px rgba($bg_color,.25);
    z-index:1;
}
.WD__modal__sendReview--open {
    transform:translate3d(0, 0, 0);
}
.WD__modal__sendReview--green {
    background-color:#4DC95B;
}
.WD__modal__sendReview--orange {
    background-color:darken(#F7CB74,29%);
}
.WD__modal__sendReview--red {
    background-color:#B44843;
}
.WD__modal__title {
    font-size:30px;
    line-height:30px;
    font-weight:300;
    padding:30px 40px 0 40px;
}
.WD__modal__sendReview__score {
    position:absolute;
    top:25px;
    left:430px;
    width:70px;
    height:70px;
    line-height:70px;
    border-radius:50%;
    background:rgba($bg_color,.28);
    text-align:center;
}
.WD__modal__sendReview__score__text {
    font-weight:bold;
    font-size:30px;
}
.WD__modal__sendReview__score__title {
    position:absolute;
    bottom:4px;
    left:100%;
    margin:0 0 0 10px;
    font-size:16px;
    line-height:16px;
}
.WD__modal__sendReview__smile__container,
.WD__modal__sendReview__avatar {
    position:absolute;
    top:-30px;
    right:5%;
}
.WD__modal__sendReview__smile__container:before {
    content:"";
    @include abs_50(82, 82);
    border-bottom:4px solid #fff;
    border-radius:50%;
    margin-top:-37px;
    opacity:0.25;
    transform:rotate(-15deg);
}
.WD__modal__sendReview__smile {
    width:72px;
    height:72px;
    border-radius:50%;
}
.WD__modal__sendReview__avatar {
    width:78px;
    height:78px;
    background-repeat:no-repeat;
    background-size:cover;
    border:4px solid #fff;
    box-shadow:0 2px 5px -3px rgba($bg_color,.5);
    background-color:#B8BAC0;
    border-radius:10px;
    transform:scale(0);
}
.WD__modal__slider__range {
    width:440px;
    margin:65px auto 0;
}
.WD__modal__slider__title {
    position:absolute;
    top:-30px;
    left:-25px;
    opacity:0.7;
    font-size:13px;
    line-height:15px;
    text-transform:uppercase;
}
.WD__modal__slider__range__container {
    position:relative;
    height:32px;
}
.WD__modal__slider__range__container:before,
.WD__modal__slider__track {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:5px;
    background:rgba(#fff,.3);
    margin-top:-2.5px;
    border-radius:10px;
}
.WD__modal__slider__track {
    background-image:linear-gradient(to right, #fff 50%, rgba(#fff,.5));
    box-shadow:0 0 5px -2px rgba(#fff,.3);
}
.WD__modal__slider__handle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    background-color: #fff;
    box-shadow: inset 0 2px 1px rgba(255,255,255,.25), 0 0.5em 0.3em -0.1em rgba($black_gray, 0.2);
    border: 1px solid #D0D4DA;
    border-radius: 50%;
    cursor: pointer;
    outline: 0;
    transition:transform 0.3s $cubic215;

    // &:after {
    //     content:"";
    //     @include abs_50(12, 12);
    //     border-radius:50%;
    //     background:rgba($bg_color,.7);
    // }
    &:hover {
        transform:scale(1.18);
    }
}
.WD__modal__slider__range__titles {
    margin-top:15px;
    text-align:justify;
    text-justify:newspaper;

    &:after {
        content:"";
        display:inline-block;
        position:relative;
        width:100%;
        height:0;
        visibility:hidden;
        overflow:hidden;
    }
}
.WD__modal__slider__range__title {
    display:inline-block;
    vertical-align:top;
    text-align:left;
    text-justify:auto;
    font-family:$roboto;
    font-size:15px;
    font-weight:400;
    text-shadow:0 2px 1px rgba($bg_color, .15);
}
.WD__modal__slider__range__title--active {
    font-size:22px;
    font-weight:bold;
}
.WD__modal__textarea__container {
    position:absolute;
    top:217px;
    left:5%;
    width:90%;
    height:256px;
}
.WD__modal__textarea {
    @include abs();
    background-color:#fff;
    border:0;
    outline:none;
    border-radius:13px;
    padding:15px 22px;
    color:#101010;
    font-size:17px;
    line-height:25px;
    font-weight:300;
    letter-spacing:.01em;
    word-wrap:break-word;
    user-select:text;
}
.WD__modal__textarea__placeholder {
    display:none;
    position:absolute;
    top:19px;
    left:22px;
    color:#8899a6;
    font-size:17px;
}
.WD__modal__textarea:empty ~ .WD__modal__textarea__placeholder {
    display:block;
}
.WD__modal__textarea:focus ~ .WD__modal__textarea__placeholder {
    display:none;
}
.WD__modal__sendReview__button {
    position:absolute;
    bottom:-31px;
    right:-24px;
}
.WD__modal__sendReview {
    will-change:opacity, transform;
    opacity:0;
    transform:translate3d(400px, 0, 0) scale3d(1.4, 0, 1);
}
.WD__modal__sendReview__container {
    will-change:opacity, transform;
    opacity:0;
    transform:translate3d(100px, 0, 0);
}
.WD__modal__sendReview--open {
    animation:WD__modal__slipRight-open .45s $cubic645 forwards;

    .WD__modal__sendReview__container {
        animation:WD__modal__slipRight-elem-open .4s $cubic645 forwards;
    }
}
.WD__modal__sendReview--hide {
    animation:WD__modal__slipUp-hide .45s $cubic57 forwards;

    .WD__modal__sendReview__container {
        animation:WD__modal__slipUp-elem-hide .4s $cubic57 forwards;
    }
}
@keyframes WD__modal__slipRight-open {
    0% {
        opacity:0;
        transform:translate3d(400px, 0, 0) scale3d(1.4, 0, 1);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
@keyframes WD__modal__slipRight-elem-open {
    0%, 20% {
        opacity:0;
        transform:translate3d(100px, 0, 0);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0);
    }
}
@keyframes WD__modal__slipUp-hide {
    0% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    100% {
        opacity:0;
        transform:translate3d(0, -400px, 0) scale3d(0, 1.4, 1);
    }
}
@keyframes WD__modal__slipUp-elem-hide {
    0%, 20% {
        opacity:1;
        transform:translate3d(0, 0, 0);
    }
    100% {
        opacity:0;
        transform:translate3d(0, -100px, 0);
    }
}
@keyframes WD__modal__slipDown-open {
    0% {
        opacity:0;
        transform:translate3d(0, 400px, 0) scale3d(0, 1.4, 1);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
