.WD__offerOut {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:32%;
    overflow:hidden;
    // outline:1px solid red;
    z-index:200001;

    &:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:120px;
        background:linear-gradient(to bottom, rgba(#fff,.7) 70%, rgba(#fff,0));
    }
}
.WD__offerOut__wrapper {
    position:absolute;
    top:0;
    left:50%;
    width:1000px;
    height:100%;
    margin-left:-500px;
}
.WD__offerOut__wave {
    position:absolute;
    top:-150px;
    left:7%;
    width:920px;
    height:920px;
    transform:scaleY(-1) scaleX(1.8);
    overflow:hidden;

    &:before,
    &:after {
        content:"";
        position:absolute;
        display:block;
        border-radius:40%;
        @include accelerate();
        animation:WD__offerOut__wave 8.5s linear infinite;
    }
    &:before {
        width:180%;
        height:180%;
        top:70%;
        left:-40%;
        background-color:rgba(#fcfcfc,.7);
        box-shadow:0 0 100px -13px rgba($black_gray,.15);
    }
    &:after {
        width:200%;
        height:200%;
        top:75%;
        left:-50%;
        animation-delay:.8s;
        background-color:rgba(#fff,.7);
    }
}
.WD__offerOut__title {
    font-family:$roboto;
    font-weight:300;
    font-size:33px;
    line-height:34px;
    // -- Blue color -- //
    // background:linear-gradient(225deg, rgba(darken(#24D8D6,3%),.4), rgba(darken($blue_lighten,2%),1), rgba(darken(#24D8D6,15%),.4));
    // color:rgba(#24D8D6,.1);
    // -- Green color -- //
    // background:linear-gradient(225deg, rgba(darken(#24D8D6,3%),.4), rgba(darken(#24D8D6,15%),1), rgba(darken(#24D8D6,15%),.4));
    // color:rgba(#24D8D6,.1); //#31cec5
    // -- Green New color -- //
    // background:linear-gradient(225deg, rgba(darken(#B6E370,15%),.4), rgba(darken(#74C6B5,21%),1), rgba(darken(#B6E370,18%),.4));
    // color:rgba(#74C6B5,.1);
    // -- Gold color -- //
    // background:linear-gradient(225deg, rgba(darken(#E4D2C2,0%),.4), rgba(darken(#E4D2C2,29%),1), rgba(darken(#E4D2C2,24%),.4));
    // color:rgba(#E4D2C2,.1);
    // -- Pink color -- //
    background:linear-gradient(225deg, rgba(darken(#E4D2C2,0%),.4), rgba(darken(#E8C4BF,23%),1), rgba(darken(#E4D2C2,21%),.4));
    color:rgba(#E4D2C2,0);
    margin-top:46px;
    text-align:center;
    letter-spacing:1;
    -webkit-background-clip:text;
    -webkit-font-smoothing:auto;
}
.WD__offerOut__photo__container {
    position:absolute;
    top:15px;
    right:40px;
    width:90px;
    height:90px;
    border-radius:50% 46% 62% 46%;
    background-clip:border-box;
    background-color:#fff;
    box-shadow:6px 16px 24px -8px rgba($black_light,.34);
    overflow:hidden;
}
.WD__offerOut__photo {
    @include abs();
    border-radius:50% 46% 62% 46%;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
    background-image:url(/public/images/avatar/avatar7.png);
    opacity:0.95;
}

@keyframes WD__offerOut__wave {
    to {
        transform:rotate(1turn);
    }
}
