<div class="WD__callbutton">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="WD__svg__filters">
        <defs>
            <filter id="WD__callbutton__filter">
                <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            </filter>
        </defs>
    </svg>
    <div class="WD__callbutton__circle">
        <span class="WD__callbutton__circle__bg">
            <span class="WD__callbutton__circle__blob"></span>
            <span class="WD__callbutton__circle__blob"></span>
            <span class="WD__callbutton__circle__blob"></span>
            <span class="WD__callbutton__circle__blob"></span>
        </span>
    </div>
    <div class="WD__callbutton__tooltip">
        Это отличный способ быстро связаться с нами
    </div>
</div>
