<div class="WD__callback WD__section">
    <div class="WD__callback__phone">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="WD__svg__filters">
            <defs>
                <filter id="WD__button__filter-goo-3">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="7" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" />
                </filter>
            </defs>
        </svg>
        <div class="WD__callback__phone__title">проверьте введенный номер</div>
        <div class="WD__callback__phone__number">
            <span class="WD__callback__phone__number__group WD__callback__phone__number__group1"></span>
            <span class="WD__callback__phone__number__group WD__callback__phone__number__group2"></span>
            <span class="WD__callback__phone__number__group WD__callback__phone__number__group3"></span>
            <span class="WD__callback__phone__number__group WD__callback__phone__number__group4"></span>
            <span class="WD__callback__phone__number__text"></span>
        </div>
        <div class="WD__callback__button">
            <div class="WD__callback__button__container">
                подтвердить
                <span class="WD__callback__button__bg"></span>
                <span class="WD__callback__button__blob"></span>
                <span class="WD__callback__button__blob"></span>
                <span class="WD__callback__button__blob"></span>
                <span class="WD__callback__button__blob"></span>
                <span class="WD__callback__button__blob"></span>
                <span class="WD__callback__button__blob"></span>
            </div>
        </div>
    </div>
    <div class="WD__section__wrapper">
        <div class="WD__callback__message">
            <div class="WD__callback__message__header">
                В течение нескольких секунд с Вами свяжется наш менеджер
            </div>
            <div class="WD__callback__message__linear">
                <div class="WD__callback__message__line"></div>
            </div>
            <div class="WD__callback__message__footer">
                осталось 10 цифр
            </div>
        </div>
        <div class="WD__callback__form">
            <div class="WD__section__close WD__callback__close"></div>
            <div class="WD__callback__form__container">
                <input class="WD__callback__form__input" value="" autocomplete="off">
                <div class="WD__callback__title WD__parallax__layer" data-depth="0.1" data-text="Введите номер телефона">Введите номер телефона</div>
                <div class="WD__callback__subtitle WD__parallax__layer" data-depth="0.15"><span>без кода</span> страны (+7) &mdash; 9012001020</div>
                <div class="WD__callback__keyboard WD__parallax__layer" data-depth="0.2">
                    <div data-number="1" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">1</span>
                    </div>
                    <div data-number="2" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">2</span>
                        <span class="WD__callback__keyboard__char">DEF</span>
                    </div>
                    <div data-number="3" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">3</span>
                        <span class="WD__callback__keyboard__char">DEF</span>
                    </div>
                    <div data-number="4" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">4</span>
                        <span class="WD__callback__keyboard__char">GHI</span>
                    </div>
                    <div data-number="5" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">5</span>
                        <span class="WD__callback__keyboard__char">JKL</span>
                    </div>
                    <div data-number="6" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">6</span>
                        <span class="WD__callback__keyboard__char">MNO</span>
                    </div>
                    <div data-number="7" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">7</span>
                        <span class="WD__callback__keyboard__char">PQRS</span>
                    </div>
                    <div data-number="8" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">8</span>
                        <span class="WD__callback__keyboard__char">TUV</span>
                    </div>
                    <div data-number="9" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">9</span>
                        <span class="WD__callback__keyboard__char">WXYZ</span>
                    </div>
                    <div class="WD__callback__keyboard__button WD__callback__keyboard__button__call">
                        <svg class="WD__callback__keyboard__button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.625 25.625">
                                <path class="WD__callback__keyboard__button__path" d="M22.079,17.835c-1.548-1.324-3.119-2.126-4.648-0.804l-0.913,0.799   c-0.668,0.58-1.91,3.29-6.712-2.234C5.005,10.079,7.862,9.22,8.531,8.645l0.918-0.8c1.521-1.325,0.947-2.993-0.15-4.71l-0.662-1.04   C7.535,0.382,6.335-0.743,4.81,0.58L3.986,1.3C3.312,1.791,1.428,3.387,0.971,6.419c-0.55,3.638,1.185,7.804,5.16,12.375   c3.97,4.573,7.857,6.87,11.539,6.83c3.06-0.033,4.908-1.675,5.486-2.272l0.827-0.721c1.521-1.322,0.576-2.668-0.973-3.995   L22.079,17.835z"/>
                        </svg>
                    </div>
                    <div data-number="0" class="WD__callback__keyboard__item">
                        <span class="WD__callback__keyboard__number">0</span>
                    </div>
                    <div class="WD__callback__keyboard__button WD__callback__keyboard__button__backspace">
                        <svg class="WD__callback__keyboard__button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                            <path class="WD__callback__keyboard__button__path" d="M 9 7 C 4.0414839 7 0 11.041484 0 16 L 0 34 C 0 38.958516 4.0414839 43 9 43 L 41 43 C 45.958516 43 50 38.958516 50 34 L 50 16 C 50 11.041484 45.958516 7 41 7 L 9 7 z M 9 9 L 41 9 C 44.877484 9 48 12.122516 48 16 L 48 34 C 48 37.877484 44.877484 41 41 41 L 9 41 C 5.1225161 41 2 37.877484 2 34 L 2 16 C 2 12.122516 5.1225161 9 9 9 z M 20.375 15.5 A 1.0001 1.0001 0 0 0 19.78125 15.78125 L 11.28125 24.28125 A 1.0001 1.0001 0 0 0 11.28125 25.71875 L 19.78125 34.21875 A 1.016466 1.016466 0 1 0 21.21875 32.78125 L 14.4375 26 L 40 26 A 1.0001 1.0001 0 1 0 40 24 L 14.4375 24 L 21.21875 17.21875 A 1.0001 1.0001 0 0 0 20.375 15.5 z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="WD__notify WD__notify__alignBL WD__notify--black">
            Вы можете использовать клавиатуру для набора
            <div class="WD__notify__icon">
                <div class="WD__notify__icon__item WD__notify__icon__keyboard WD__parallax__layer" data-depth="2"></div>
            </div>
        </div>
    </div>
</div>
