<div class="WD__messenger">
    <div class="WD__messenger__wrapper">
        <div class="WD__messenger__header">
            <span class="WD__messenger__header__button__fixed" data-wballoon="Закрепить панель" data-wballoon-pos="left">
                <span class="WD__messenger__header__button__fixed__icon"></span>
            </span>
            <div class="WD__messenger__header__title">Светлана</div>
            <div class="WD__messenger__header__text">Онлайн-консультант</div>
            <div class="WD__messenger__header__buttons">
                <span class="WD__messenger__header__button WD__messenger__header__button__minimize"></span>
                <span class="WD__messenger__header__button WD__messenger__header__button__close"></span>
            </div>
        </div>
        <div class="WD__messenger__body">
            <div class="WD__messenger__content">
                <div class="WD__messenger__item WD__messenger__item__que">
                    <div class="WD__messenger__item__avatar" style="background-image:url(/public/images/avatar/avatar7.png)"></div>
                    <div class="WD__messenger__item__text">Добрый день, я рада приветствовать Вас, ожидаю ваших вопросов.</div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__que WD__messenger__item__que--next">
                    <div class="WD__messenger__item__text">Вас интересует сделки по недвижимостью?
                    </div>
                    <div class="WD__messenger__item__metadata">16:02</div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__que">
                    <div class="WD__messenger__item__avatar" style="background-image:url(/public/images/avatar/avatar7.png)"></div>
                    <div class="WD__messenger__item__text">
                        Как к Вам обращаться?
                        <span class="WD__messenger__item__text__gray">введите имя или свой профиль</span>
                        <span class="WD__messenger__item__social__buttons">
                            <span class="WD__messenger__item__social__button WD__messenger__item__social__button__fb"></span>
                            <span class="WD__messenger__item__social__button WD__messenger__item__social__button__vk"></span>
                            <span class="WD__messenger__item__social__button WD__messenger__item__social__button__dk"></span>
                            <span class="WD__messenger__item__social__button WD__messenger__item__social__button__tw"></span>
                        </span>
                    </div>
                    <div class="WD__messenger__item__metadata">18:47</div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__answer WD__messenger__item__answer--first">
                    <div class="WD__messenger__item__text">Привет</div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__answer">
                    <div class="WD__messenger__item__text">Как дела?</div>
                    <div class="WD__messenger__item__metadata">только что</div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__que">
                    <div class="WD__messenger__item__avatar" style="background-image:url(/public/images/avatar/avatar7.png)"></div>
                    <div class="WD__messenger__item__text">Все в порядке)!</div>
                    <div class="WD__messenger__item__metadata">только что</div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__answer WD__messenger__item__answer--first">
                    <div class="WD__messenger__item__text">
                        <div class="WD__messenger__item__text__file">
                            <a class="WD__messenger__item__text__file__name" href="https://uploads.intercomcdn.com/i/o/7440943/6e65147244e480d28e6e0795/license.txt" target="_blank">https://uploads.intercomcdn.com/i/o/7439073/38b2a89c5cb04e6d286908f5/___1366_1pl_1.jpg</a>
                        </div>
                    </div>
                </div>
                <div class="WD__messenger__item WD__messenger__item__answer">
                    <div class="WD__messenger__item__image">
                        <img class="WD__messenger__item__image__file" src="https://uploads.intercomcdn.com/i/o/7439073/38b2a89c5cb04e6d286908f5/___1366_1pl_1.jpg">
                    </div>
                    <div class="WD__messenger__item__metadata">только что</div>
                </div>
            </div>
        </div>
        <div class="WD__messenger__footer">
            <form class="WD__messenger__form" action method="POST">
                <textarea class="WD__messenger__form__textarea" placeholder="Напишите и нажмите Enter..."></textarea>
                <div class="WD__messenger__form__buttons">
                    <span class="WD__messenger__form__button WD__messenger__form__button__file"></span>
                    <span class="WD__messenger__form__button WD__messenger__form__button__smile"></span>
                </div>
                <!-- <input type="submit" class="WD__messenger__form__button__send" value="Send" disabled=""> -->
            </form>
            <div class="WD__messenger__form__copyright">
                на платформе <a href="#" target="_blank">Yuap.ru</a>
            </div>
        </div>
    </div>
    <svg version="1.1" class="WD__messenger__blob" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path class="WD__messenger__blob__path" d="M60,500H0V0h60c0,0,20,172,20,250S60,900,60,500z"/>
    </svg>
</div>
