<div class="WD__offer">
    <div class="WD__offer__wrapper">
        <div class="WD__offer__container WD__parallax__layer" data-depth="0.02">
            <div class="WD__offer__avatar">
                <svg class="WD__offer__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 90 112.5" enable-background="new 0 0 90 90" xml:space="preserve"><g><circle class="WD__offer__icon__bulb1" cx="64.812" cy="69.626" r="8.547"/><circle class="WD__offer__icon__bulb2" cx="73.916" cy="82.196" r="4.525"/><path class="WD__offer__icon__color" d="M65.873,12.33c-1.525,0-3.015,0.152-4.457,0.434C57.208,7.016,50.414,3.28,42.745,3.28   c-8.468,0-15.869,4.553-19.898,11.342c-0.193-0.005-0.382-0.029-0.576-0.029c-11.523,0-20.865,9.34-20.865,20.865   c0,11.523,9.341,20.866,20.865,20.866c1.923,0,3.777-0.281,5.546-0.769c4.241,5.21,10.703,8.54,17.944,8.54   c5.967,0,11.405-2.26,15.507-5.97c1.488,0.301,3.028,0.46,4.605,0.46C78.646,58.586,89,48.23,89,35.458   C89,22.685,78.646,12.33,65.873,12.33z"/></g></svg>
                <div class="WD__offer__avatar__image__container">
                    <div class="WD__offer__avatar__image"></div>
                </div>
            </div>
            <span class="WD__offer__text">Мы вам можем чем-то помочь?</span>
            <div class="WD__offer__close"></div>
        </div>
        <div class="WD__offer__bulb3 WD__parallax__layer" data-depth="0.045">
            <div class="WD__offer__bulb WD__offer__bulb3__item">
                <span class="WD__offer__bulb__text WD__offer__bulb__text--yes">Да</span>
            </div>
        </div>
        <div class="WD__offer__bulb4 WD__parallax__layer" data-depth="0.035">
            <div class="WD__offer__bulb WD__offer__bulb4__item">
                <span class="WD__offer__bulb__text WD__offer__bulb__text--no">Не нужно</span>
            </div>
        </div>
        <div class="WD__offer__cloud WD__offer__cloud1 WD__offer__cloud__num1">
            <span class="WD__offer__cloud__text">Выбрать правильную акустику</span>
        </div>
        <div class="WD__offer__cloud WD__offer__cloud2 WD__offer__cloud__num2">
            <span class="WD__offer__cloud__text">Подобрать сабвуфер</span>
        </div>
        <div class="WD__offer__cloud WD__offer__cloud3 WD__offer__cloud__num3">
            <span class="WD__offer__cloud__text">Оценить стоимость моего авто</span>
        </div>
        <div class="WD__offer__cloud WD__offer__cloud4 WD__offer__cloud__num4">
            <span class="WD__offer__cloud__text">Провести полную диагностику авто</span>
        </div>
    </div>
    <div class="WD__offer__bye">

    </div>
</div>
