<div class="WD__products">
    <div class="WD__products__title__big">Акции этой недели</div>
    <div class="WD__products__wrapper">
        <div class="WD__products__title">Акции этой недели</div>
        <ul class="WD__products__container">
            <li class="WD__products__item">
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">Кожаный</span> клип-кейс для iPhone 6S</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="http://spigen.su/media/catalog/product/cache/1/image/700x700/9df78eab33525d08d6e5fb8d27136e95/k/o/kozhanyj-klip-kejs-spigen-sgp-dlja-iphone-6-plus-leather-fit-5-5-sinij-sgp11397-3.jpg">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices">
                    <span class="WD__products__item__price WD__products__item__price__old">
                        4 240 Р
                    </span>
                    <span class="WD__products__item__price WD__products__item__price__red">
                        3 790 Р
                    </span>
                </div>
            </li>
            <li class="WD__products__item">
                <span class="WD__products__item__badge">%</span>
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">Ноутбук</span> APPLE MacBook 12 Rose Gold</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="https://mdata.yandex.net/i?path=b0421235021_img_id670341079792497116.jpeg">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices WD__products__item__prices--center">
                    <span class="WD__products__item__price">
                        105 999 Р
                    </span>
                </div>
            </li>
            <li class="WD__products__item">
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">LED</span> телевизор LG 28LF491U</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="http://static.eldorado.ru/photos/71/new_71121630_l_360.jpeg/resize/500x375/">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices">
                    <span class="WD__products__item__price WD__products__item__price__old">
                        24 180 Р
                    </span>
                    <span class="WD__products__item__price WD__products__item__price__red">
                        18 880 Р
                    </span>
                </div>
            </li>
            <li class="WD__products__item">
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">Музыкальный</span> центр PHILIPS FX15/12</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="http://static.eldorado.ru/photos/71/new_71101983_l_712.jpeg/resize/500x375/">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices">
                    <span class="WD__products__item__price WD__products__item__price__old">
                        8 399 Р
                    </span>
                    <span class="WD__products__item__price WD__products__item__price__red">
                        7 999 Р
                    </span>
                </div>
            </li>
            <li class="WD__products__item">
                <span class="WD__products__item__badge">%</span>
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">Samsung</span> Galaxy J7 (2016)</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="https://mdata.yandex.net/i?path=b0420222501_img_id6661848868494336414.jpeg">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices">
                    <span class="WD__products__item__price WD__products__item__price__old">
                        22 490 Р
                    </span>
                    <span class="WD__products__item__price WD__products__item__price__red">
                        19 990 Р
                    </span>
                </div>
            </li>
            <li class="WD__products__item">
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">Подставка</span> Twelve South BookArc для MacBook</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/H/JB/HJB32/HJB32?wid=1144&hei=1144&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5%2C0.5%2C0%2C0&iccEmbed=0&layer=comp&.v=k9zkZ3">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices WD__products__item__prices--center">
                    <span class="WD__products__item__price">
                        4 890 Р
                    </span>
                </div>
            </li>
            <li class="WD__products__item">
                <span class="WD__products__item__badge">%</span>
                <span class="WD__products__item__title"><span class="WD__products__item__title__strong">Mонитор</span> Apple Thunderbolt Display (27-дюймовый)</span>
                <div class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="http://store.storeimages.cdn-apple.com/4662/as-images.apple.com/is/image/AppleInc/aos/published/images/M/C9/MC914/MC914_AV6?wid=1144&hei=1144&fmt=jpeg&qlt=80&op_sharpen=0&resMode=bicub&op_usm=0.5%2C0.5%2C0%2C0&iccEmbed=0&layer=comp&.v=Nv2lR0">
                    <span class="WD__products__item__plus"></span>
                    <span class="WD__products__item__phone"></span>
                </div>
                <div class="WD__products__item__prices">
                    <span class="WD__products__item__price WD__products__item__price__old">
                        94 490 Р
                    </span>
                    <span class="WD__products__item__price WD__products__item__price__red">
                        85 990 Р
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <!-- <div class="WD__products__arrow WD__products__arrow__prev">
        <svg class="WD__products__arrow__icon WD__products__arrow__prev__icon" xmlns="http://www.w3.org/2000/svg" width="23" height="67" viewBox="0 0 23 67"><path fill-rule="evenodd" clip-rule="evenodd" fill="#3e4757" d="M2.349 33.475l20.223-32.165-1.693-1.064-20.879 33.207.091.057-.059.037 20.879 33.207 1.693-1.065z"></path></svg>
    </div> -->
    <div class="WD__products__arrow WD__products__arrow__next">
        <svg class="WD__products__arrow__icon WD__products__arrow__next__icon" xmlns="http://www.w3.org/2000/svg" width="23" height="67" viewBox="0 0 23 67"><path fill-rule="evenodd" clip-rule="evenodd" fill="#3e4757" d="M22.604 33.453l-20.879-33.207-1.694 1.064 20.224 32.165-20.255 32.214 1.692 1.065 20.88-33.207-.059-.037z"></path></svg>
    </div>
    <div class="WD__products__handler">
        <span class="WD__products__handler__icon"></span>
    </div>
</div>
<!-- <div class="WD__products__overlay">
    <div class="WD__section__close WD__section__close--center"></div>
</div> -->
