<div class="WD__products">
    <div class="WD__products__title__big">Акции этой недели</div>
    <div class="WD__products__wrapper">
        <div class="WD__products__hoverZone"></div>
        <div class="WD__products__title">Акции этой недели</div>
        <ul class="WD__products__slider">
            {{#items}}
            <li class="WD__products__item">
                {{#price_sale}}<span class="WD__products__item__badge">%</span>{{/price_sale}}
                <a href="{{link}}" class="WD__products__item__title">{{#title_wrap}}{{title}}{{/title_wrap}}</a>
                <a href="{{link}}" class="WD__products__item__photo">
                    <img class="WD__products__item__image" src="{{image}}">
                    <span class="WD__products__item__plus"></span>
                </a>
                {{#price_sale}}
                    <div class="WD__products__item__prices">
                        <span class="WD__products__item__price WD__products__item__price__old">
                            {{#price_wrap}}{{price2}}{{/price_wrap}}
                        </span>
                        <span class="WD__products__item__price WD__products__item__price__red">
                            {{#price_wrap}}{{price1}}{{/price_wrap}}
                        </span>
                    </div>
                {{/price_sale}}
                {{^price_sale}}
                    <div class="WD__products__item__prices WD__products__item__prices--center">
                        <span class="WD__products__item__price">
                            {{#price_wrap}}{{price1}}{{/price_wrap}}
                        </span>
                    </div>
                {{/price_sale}}
            </li>
            {{/items}}
        </ul>
    </div>
    <div class="WD__products__arrow WD__products__arrow__prev">
        <svg class="WD__products__arrow__icon WD__products__arrow__prev__icon" xmlns="http://www.w3.org/2000/svg" width="23" height="67" viewBox="0 0 23 67"><path fill-rule="evenodd" clip-rule="evenodd" fill="#3e4757" d="M2.349 33.475l20.223-32.165-1.693-1.064-20.879 33.207.091.057-.059.037 20.879 33.207 1.693-1.065z"></path></svg>
    </div>
    <div class="WD__products__arrow WD__products__arrow__next">
        <svg class="WD__products__arrow__icon WD__products__arrow__next__icon" xmlns="http://www.w3.org/2000/svg" width="23" height="67" viewBox="0 0 23 67"><path fill-rule="evenodd" clip-rule="evenodd" fill="#3e4757" d="M22.604 33.453l-20.879-33.207-1.694 1.064 20.224 32.165-20.255 32.214 1.692 1.065 20.88-33.207-.059-.037z"></path></svg>
    </div>
    <div class="WD__products__handler">
        <span class="WD__products__handler__icon"></span>
    </div>
</div>
<!-- <div class="WD__products__overlay">
    <div class="WD__section__close WD__section__close--center"></div>
</div> -->
