<div class="WD__section WD__section__reviews WD__section__white">
    <div class="WD__section__close WD__section__close--right"></div>
    <div class="WD__section__wrapper WD__section__wrapper__reviews">
        <div class="WD__reviews__sidebar">
            <div class="WD__reviews__sidebar__icon">
                <svg class="WD__reviews__sidebar__icon__item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
                    <path class="WD__reviews__sidebar__icon__path" d="M29,1.5c16.016,0,29,11.641,29,26c0,5.292-1.768,10.211-4.796,14.318
                        C53.602,46.563,54.746,53.246,58,56.5c0,0-9.943-1.395-16.677-5.462c-0.007,0.003-0.015,0.006-0.022,0.009
                        c-2.764-1.801-5.532-3.656-6.105-4.126c-0.3-0.421-0.879-0.548-1.33-0.277c-0.296,0.178-0.483,0.503-0.489,0.848
                        c-0.01,0.622,0.005,0.784,5.585,4.421C35.854,52.933,32.502,53.5,29,53.5c-16.016,0-29-11.641-29-26C0,13.141,12.984,1.5,29,1.5z"
                        />
                    <circle style="fill:#FFFFFF;" cx="15" cy="27.5" r="3"/>
                    <circle style="fill:#FFFFFF;" cx="29" cy="27.5" r="3"/>
                    <circle style="fill:#FFFFFF;" cx="43" cy="27.5" r="3"/>
                </svg>
                <div class="WD__reviews__sidebar__score">
                    7.8
                    <span class="WD__reviews__sidebar__score__text">рейтинг компании</span>
                </div>
            </div>
            <div class="WD__reviews__sidebar__count">
                98+
            </div>
            <div class="WD__reviews__sidebar__status">
                <span class="WD__reviews__sidebar__status__cell">
                    <span class="WD__reviews__sidebar__status__item WD__reviews__sidebar__status__red">2</span>
                </span>
                <span class="WD__reviews__sidebar__status__cell">
                    <span class="WD__reviews__sidebar__status__item WD__reviews__sidebar__status__green">17</span>
                </span>
                <span class="WD__reviews__sidebar__status__cell">
                    <span class="WD__reviews__sidebar__status__item WD__reviews__sidebar__status__orange">4</span>
                </span>
            </div>
            <div class="WD__reviews__sidebar__form">
                <span class="WD__reviews__sidebar__text">Помогите нам стать еще лучше, оставьте свой отзыв о нашей компании.</span>
                <span class="WD__reviews__button">
                    <svg class="WD__reviews__button__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="35.738px" height="35.738px" viewBox="0 0 35.738 35.738" style="enable-background:new 0 0 35.738 35.738;"
 xml:space="preserve">
                        <path class="WD__reviews__button__path" d="M0,35.667c0,0,11.596-37.07,35.738-35.55c0,0-2.994,4.849-10.551,6.416c0,0,3.518,0.429,6.369-0.522
                            c0,0-1.711,5.515-11.025,6.273c0,0,5.133,1.331,7.414,0.57c0,0-0.619,4.111-10.102,6.154c-0.562,0.12-4.347,1.067-1.306,1.448
                            c0,0,4.371,0.763,5.514,0.381c0,0-3.744,5.607-12.928,5.132c-0.903-0.047-1.332,0-1.332,0L0,35.667z"/>
                    </svg>
                    Оставить
                </span>
            </div>
            <a class="WD__reviews__yamarket__link" href="#">
                <span class="WD__reviews__yamarket__stars">&star; &star; &star; &star; &star;</span>
            </a>
            <!-- <svg style="width:90px; margin:0 auto; display:block;" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 378.22 378.22" style="enable-background:new 0 0 378.22 378.22;" xml:space="preserve">
            <path style="fill:#88C9B3;" d="M378.22,142.485v126.25c0,14.05-11.39,25.44-25.44,25.44h-24.37v40.88l-39.35-40.88H131.15
                c-14.05,0-25.44-11.39-25.44-25.44v-48.44v-77.81c0-14.05,11.39-25.44,25.44-25.44H272.5h80.28
                C366.83,117.045,378.22,128.435,378.22,142.485z"/>
            <path style="fill:#7C6655;" d="M272.5,68.605v48.44H131.15c-14.05,0-25.44,11.39-25.44,25.44v77.81H89.15l-2.19,2.28l-37.16,38.6
                v-40.88H25.43c-14.05,0-25.43-11.39-25.43-25.44V68.605c0-14.05,11.38-25.44,25.43-25.44h221.64
                C261.11,43.165,272.5,54.555,272.5,68.605z"/>
            <path style="fill:#665040;" d="M272.5,98.295v18.75H131.15c-14.05,0-25.44,11.39-25.44,25.44v77.81H89.15l-2.19,2.28v-98.84
                c0-14.05,11.39-25.44,25.44-25.44H272.5z"/>
            </svg> -->
        </div>
        <div id="WD__reviews__scrollbar" class="WD__reviews__container">
            <div class="WD__scroll__scrollbar">
                <div class="WD__scroll__track">
                    <div class="WD__scroll__thumb">
                        <div class="WD__scroll__end"></div>
                    </div>
                </div>
            </div>
            <div class="WD__scroll__viewport">
                <div class="WD__scroll__overview">

                    <div class="WD__reviews__item WD__reviews__item--green">
                        <div class="WD__reviews__item__date">14 мая, Москва</div>
                        <div class="WD__reviews__item__score">8.5</div>
                        <div class="WD__reviews__item__dots">
                            <span class="WD__reviews__item__dots__item"></span>
                        </div>
                        <div class="WD__reviews__item__avatar" style="background-image:url(/public/images/avatar/avatar5.png)"></div>
                        <div class="WD__reviews__item__content">
                            <div class="WD__reviews__item__line"></div>
                            <div class="WD__reviews__item__content__text">Все отлично ребята!</div>
                        </div>
                        <div class="WD__reviews__item__panel">
                            <span class="WD__reviews__item__thumb WD__reviews__item__thumb--green">
                                <span class="WD__reviews__item__thumb__item WD__reviews__item__thumb--up"></span>
                                49
                            </span>
                            <span class="WD__reviews__item__thumb WD__reviews__item__thumb--red">
                                <span class="WD__reviews__item__thumb__item WD__reviews__item__thumb--down"></span>
                                3
                            </span>
                        </div>
                    </div>
                    <div class="WD__reviews__item WD__reviews__item--answer">
                        <div class="WD__reviews__item__dots">
                            <span class="WD__reviews__item__dots__item"></span>
                        </div>
                        <img class="WD__reviews__item__logo" src="/public/images/logo_photoshop.svg">
                        <div class="WD__reviews__item__signtext">комментарий компании</div>
                        <div class="WD__reviews__item__content">
                            <div class="WD__reviews__item__line"></div>
                            <div class="WD__reviews__item__content__text">Спасибо Евгения Вам за отзыв, стараемся быть лучше вместе с вами.</div>
                        </div>
                    </div>
                    <div class="WD__reviews__item WD__reviews__item--orange">
                        <div class="WD__reviews__item__date">11 мая, Санкт-Петербург</div>
                        <div class="WD__reviews__item__score">6.5</div>
                        <div class="WD__reviews__item__dots">
                            <span class="WD__reviews__item__dots__item"></span>
                        </div>
                        <div class="WD__reviews__item__avatar" style="background-image:url(/public/images/avatar/avatar6.png)"></div>
                        <div class="WD__reviews__item__content">
                            <div class="WD__reviews__item__line"></div>
                            <div class="WD__reviews__item__content__text">Provide a speedy response and keep your customers happy. Your team can access pre-typed responses for frequent questions that your customers ask and you can respond within seconds. <span class="WD__reviews__item__content__more">[подробнее...]</span></div>
                        </div>
                        <div class="WD__reviews__item__panel">
                            <span class="WD__reviews__item__thumb">
                                <span class="WD__reviews__item__thumb__item WD__reviews__item__thumb--up"></span>
                                &ndash;
                            </span>
                            <span class="WD__reviews__item__thumb">
                                <span class="WD__reviews__item__thumb__item WD__reviews__item__thumb--down"></span>
                                &ndash;
                            </span>
                        </div>
                    </div>
                    <div class="WD__reviews__item WD__reviews__item--red">
                        <div class="WD__reviews__item__date">9 мая, Москва</div>
                        <div class="WD__reviews__item__score">3.0</div>
                        <div class="WD__reviews__item__dots">
                            <span class="WD__reviews__item__dots__item"></span>
                        </div>
                        <div class="WD__reviews__item__avatar" style="background-image:url(/public/images/avatar/avatar2.png)"></div>
                        <div class="WD__reviews__item__content">
                            <div class="WD__reviews__item__line"></div>
                            <div class="WD__reviews__item__content__text">Chatstack is available on major platforms with our Windows, Mac and Linux apps that can be installed on all your team computers. After you have placed the live chat HTML code snippet on your web site, you can start chatting. <span class="WD__reviews__item__content__more">[подробнее...]</span></div>
                        </div>
                        <div class="WD__reviews__item__panel">
                            <span class="WD__reviews__item__thumb">
                                <span class="WD__reviews__item__thumb__item WD__reviews__item__thumb--up"></span>
                                &ndash;
                            </span>
                            <span class="WD__reviews__item__thumb">
                                <span class="WD__reviews__item__thumb__item WD__reviews__item__thumb--down"></span>
                                &ndash;
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
