.w-5p {
    width:5%;
}
.w-10p {
    width:10%;
}
.w-15p {
    width:15%;
}
.w-16p {
    width:16.33%;
}
.w-20p {
    width:20%;
}
.w-25p {
    width:25%;
}
.w-30p {
    width:30%;
}
.w-33p {
    width:33.33%;
}
.w-35p {
    width:35%;
}
.w-40p {
    width:40%;
}
.w-45p {
    width:45%;
}
.w-50p {
    width:50%;
}
.w-55p {
    width:55%;
}
.w-60p {
    width:60%;
}
.w-65p {
    width:65%;
}
.w-66p {
    width:66.66%;
}
.w-70p {
    width:70%;
}
.w-75p {
    width:75%;
}
.w-80p {
    width:80%;
}
.w-85p {
    width:85%;
}
.w-90p {
    width:90%;
}
.w-95p {
    width:95%;
}
.w-100p {
    width:100%;
}
.h-5p {
    height:5%;
}
.h-10p {
    height:10%;
}
.h-15p {
    height:15%;
}
.h-20p {
    height:20%;
}
.h-25p {
    height:25%;
}
.h-30p {
    height:30%;
}
.h-33p {
    height:33.33%;
}
.h-35p {
    height:35%;
}
.h-40p {
    height:40%;
}
.h-45p {
    height:45%;
}
.h-50p {
    height:50%;
}
.h-55p {
    height:55%;
}
.h-60p {
    height:60%;
}
.h-65p {
    height:65%;
}
.h-66p {
    height:66.66%;
}
.h-70p {
    height:70%;
}
.h-75p {
    height:75%;
}
.h-80p {
    height:80%;
}
.h-85p {
    height:85%;
}
.h-90p {
    height:90%;
}
.h-95p {
    height:95%;
}
.h-100p {
    height:100%;
}
