$roboto: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
// $pragmatica: "pragmatica", Helvetica Neue, Helvetica, Arial, sans-serif;
$default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$arial: "Arial", sans-serif;
$myriad: "Myriad Set Pro", sans-serif;
$pragmatica: "pragmatica", sans-serif;
$pfhighway: "pfhighway", sans-serif;
// $default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;

$green: #00ab6b;
$green_light: #05d29f;
$green_lighten: #76cab4;
$green_bright: #4DC95B;
$green_bright2: #4cd964;
$orange: #ef6c00;
$black_light: #3e4757;
$black_dark: #333947;
$black_text: #292f33;
$black_gray: #28282A;
$bg_color: #070e19;
$red: #ff665a;
$blue: #158ffe;
$azure: #00aff2;

$black: #1b1b1f;
$black1: #191a1b;
$black2: #24272a;
$bg_select: #e2f0f9;
$gray: #7e8188;
$gray_light: #9197a3;
$gray_lighten: #cfd4d7;
$gray_dark: #52505b;
$gray_darken: #48555e;
$emerald: #2dccaa;
$emerald_dark: #1abc9c;
$emerald_bright: #1CDEB4;
$red_light: #ee728a;
$pink: #ec425f;
$yellow: #ffff82;
$yellow_dark: #ffdd2e;
$yellow_darken: #ffcd33;
$blue_bright: #6a76fc;
$blue_bright2: #7781ff;
$blue_bright3: #5975ff;
$blue_light: #5890ff;
$blue_light2: #7386d3;
$blue_lighten: #00a7eb;
$blue_darken: #373f64;
$azure_light: #68f5ff;
$azure_light2: #35ffff;
$violet: #827dcf;
$violet_light: #9471db;
$purple: #c8affa;

$w_violet: #5e35b1;
$w_orange: #ef6c00;
$w_green: #43a047;
$w_military: #558b2f;
$w_azure: #6dc2e1;
$w_azure2: #0091ea;
$w_blue: #00acc1;
$w_blue2: #1976d2;
$w_blue3: #00897b;
$w_emerald: #05d29f;
$telecom_azure: #00a8ff;
$telecom_orange: #ff6000;

$cubic215: cubic-bezier(.215,.61,.355,1);
$cubic57: cubic-bezier(.57,.06,.05,.95);
$cubic645: cubic-bezier(.645,.045,.355,1);
$cubic34: cubic-bezier(.34,.1,.34,1);
$cubic25: cubic-bezier(.25,.46,.45,.94);
$cubic42: cubic-bezier(.42,0,.05,1);

$cubic19: cubic-bezier(.19,1,.22,1);
$cubic34b: cubic-bezier(.34,.61,.7,1);
