[class^="WD__"],
[class^="WD__"] *,
[class^="WD__"] *:after,
[class^="WD__"] *:before {
	box-sizing:border-box;
}
[class^="WD__"] {
	font-family:$default;
    font-weight:400;
	// font-size:100%;
	// line-height:1.42857143;
	user-select:none;
	text-size-adjust:100%;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings:'liga', 'kern';
}
html,
body {
	height:100%;
}
#frame {
	@include abs();
	background:url(/public/images/bg.png) no-repeat center center / cover;
	filter:blur(35px);
	will-change:filter;
	transition:filter 0.35s $cubic645;

	&.unBlur {
		filter:blur(7px);
		transition:filter 0.5s $cubic645;
	}
}
#logo {
	position:absolute;
	top:18px;
	left:22px;
	width:100px;
}
