<ui-alert class="UI__alert">

    <div class="UI__alert__wrapper UI__alert__black">
        <div class="UI__alert__container">
            <div class="UI__alert__header">
                <div class="UI__alert__title">Сообщение</div>
                <div class="UI__alert__subtitle"></div>
            </div>
            <div class="UI__alert__buttons">
                <div class="UI__alert__button UI__alert__button__success">Ok</div>
                <div class="UI__alert__button UI__alert__button__cancel">Отмена</div>
            </div>
        </div>
    </div>

<script>

    var $ = this;

    $.active = false;

    $.value = $.parent.data.get($.opts.value);

    $.onShow = function(){
        $.active = true;
    };

    $.onSelect = function(){
        $.value = this.item;
        $.active = false;
        $.parent.data.set($.opts.value, $.value);
    };

</script>

</ui-alert>
