<ui-select class="UI__controlPanel__item">

    <span class="UI__controlPanel__title">{ opts.title }</span>
    <span class="UI__controlPanel__value">
        <span class="UI__select { 'UI__select--active' : active }">
            <span onClick={ onShow } class="UI__select__current">{ current }</span>
            <span class="UI__select__items">
                <span onClick={ onSelect } each={item in opts.items.get()} no-reorder class="UI__select__item { 'UI__select__item--active' : item.value == value }">{ item.title }</span>
            </span>
        </span>
    </span>

<script>

    var $ = this;

    $.active = false;

    $.getCurrent = function(value){
        return $.opts.items.get({'value': value}, 'title');
    };

    $.value = $.parent.data.get($.opts.value);
    $.current = $.getCurrent($.value);

    $.onShow = function(){
        $.active = true;
    };

    $.onSelect = function(){
        if ($.value != this.item.value) $.parent.data.set($.opts.value, this.item.value);
        $.value = this.item.value;
        $.current = $.getCurrent($.value);
        $.active = false;
    };

    if ($.opts.observer){
        this.on("mount", function(){
            $.parent.data.select($.opts.value).on('update', function(e){
                $.value = $.parent.data.get($.opts.value);
                $.current = $.getCurrent($.value);
                $.update();
            });
        });
    }

</script>

</ui-select>
