<ui-select>

    <span class="UI__controlPanel__title">{ opts.title }</span>
    <span class="UI__controlPanel__value">
        <span class="UI__select { 'UI__select--active' : active }">
            <span onClick={ onShow } class="UI__select__current">{ value }</span>
            <span class="UI__select__items">
                <span onClick={ onSelect } each={item in opts.items} no-reorder class="UI__select__item { 'UI__select__item--active' : item == value }">{ item }</span>
            </span>
        </span>
    </span>

<script>

    var $ = this;

    $.active = false;

    $.value = $.parent.data.get($.opts.value);

    $.onShow = function(){
        $.active = true;
    };

    $.onSelect = function(){
        $.value = this.item;
        $.active = false;
        $.parent.data.set($.opts.value, $.value);
    };

</script>

</ui-select>
