.WD__help {
    position:absolute;
    top:19px;
    left:100%;
    color:#90a4ae;
    font-size:14px;
    font-family:$roboto;
    font-weight:500;
    width:20px;
    height:20px;
    border:1px solid #b0bec5;
    border-radius:50%;
    line-height:20px;
    margin-left:8px;
    text-align:center;
}
