<control-offer class="UI__controlPanel UI__controlPanel__offer">

    <div class="UI__controlPanel__buttonSave">
        <span class="UI__controlPanel__buttonSave__text">Сохранить</span>
    </div>
    <div class="UI__controlPanel__wrapper">
        <div class="UI__controlPanel__item UI__controlPanel__item--top">
            <span class="UI__controlPanel__title">Активный2</span>
            <span class="UI__controlPanel__value">
                <input type="checkbox" class="UI__switcher UI__controlPanel__switcher" checked="">
            </span>
        </div>
        <div class="UI__controlPanel__options">
            <div class="UI__controlPanel UI__controlPanel__sidebar UI__controlPanel__sidebar__form">
                <div class="UI__controlPanel__item">
                    <span class="UI__controlPanel__title">Цветовая палитра</span>
                    <span class="UI__controlPanel__value">
                        <span class="UI__palette">
                            <span class="UI__palette__current" style="background-color:#26262A"></span>
                            <span class="UI__palette__items">
                                <span class="UI__palette__item" style="background-color:#5856d6"></span>
                                <span class="UI__palette__item" style="background-color:#007aff"></span>
                                <span class="UI__palette__item" style="background-color:#34aadc"></span>
                                <span class="UI__palette__item" style="background-color:#5ac8fa"></span>
                                <span class="UI__palette__item" style="background-color:#4cd964"></span>
                                <span class="UI__palette__item" style="background-color:#ff2d55"></span>
                                <span class="UI__palette__item" style="background-color:#ff3b30"></span>
                                <span class="UI__palette__item" style="background-color:#ff9500"></span>
                                <span class="UI__palette__item" style="background-color:#ffcc00"></span>
                                <span class="UI__palette__item" style="background-color:#26262A"></span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="UI__controlPanel__item UI__controlPanel__item--footer"></div>
                <div class="UI__controlPanel__sidebar__title">Настройки формы</div>
            </div>
            <div class="UI__controlPanel UI__controlPanel__sidebar UI__controlPanel__sidebar__tuning">
                <div class="UI__controlPanel__item UI__controlPanel__item--top">
                    <span class="UI__controlPanel__title">Ручная настройка</span>
                    <span class="UI__controlPanel__value">
                        <input type="checkbox" class="UI__switcher UI__controlPanel__switcher" checked="">
                    </span>
                </div>
                <div class="UI__controlPanel__item">
                    <span class="UI__controlPanel__title">Пульсация кнопки звонка <span class="UI__help" data-wballoon="Периодически привлекать внимание пользователей анимацией кнопки звонка" data-wballoon-length="large">?</span>
                    </span>
                    <span class="UI__controlPanel__value">
                        <input type="checkbox" class="UI__switcher UI__controlPanel__switcher">
                    </span>
                </div>
                <div class="UI__controlPanel__item">
                    <span class="UI__controlPanel__title">Предлагать связаться <span class="UI__help" data-wballoon="Периодически показывать текст приветствия для пользователей" data-wballoon-length="large">?</span>
                    </span>
                    <span class="UI__controlPanel__value">
                        <input type="checkbox" class="UI__switcher UI__controlPanel__switcher" checked="">
                    </span>
                </div>
                <div class="UI__controlPanel__item UI__controlPanel__item--footer"></div>
                <div class="UI__controlPanel__sidebar__title">Тюнинг работы</div>
            </div>
            <div class="UI__controlPanel__options__wrapper">
                <div class="UI__controlPanel__item">
                    <span class="UI__controlPanel__title">Цветовая палитра</span>
                    <span class="UI__controlPanel__value">
                        <span class="UI__palette">
                            <span class="UI__palette__current" style="background-color:#26262A"></span>
                            <span class="UI__palette__items">
                                <span class="UI__palette__item" style="background-color:#5856d6"></span>
                                <span class="UI__palette__item" style="background-color:#007aff"></span>
                                <span class="UI__palette__item" style="background-color:#34aadc"></span>
                                <span class="UI__palette__item" style="background-color:#5ac8fa"></span>
                                <span class="UI__palette__item" style="background-color:#4cd964"></span>
                                <span class="UI__palette__item" style="background-color:#ff2d55"></span>
                                <span class="UI__palette__item" style="background-color:#ff3b30"></span>
                                <span class="UI__palette__item" style="background-color:#ff9500"></span>
                                <span class="UI__palette__item" style="background-color:#ffcc00"></span>
                                <span class="UI__palette__item" style="background-color:#26262A"></span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="UI__controlPanel__item">
                    <span class="UI__controlPanel__title">Стиль виджета</span>
                    <span class="UI__controlPanel__value">
                        <span class="UI__select">
                            <span class="UI__select__current">Модерн</span>
                            <span class="UI__select__items">
                                <span class="UI__select__item UI__select__item--active">Модерн</span>
                                <span class="UI__select__item">Классика</span>
                                <span class="UI__select__item">Спутник</span>
                                <span class="UI__select__item">Волна</span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="UI__controlPanel__item">
                    <span class="UI__controlPanel__title">Текст приветствия</span>
                    <span class="UI__controlPanel__value">
                        <span class="UI__textEdit">
                            <span class="UI__textEdit__container">
                                <input class="UI__textEdit__input" type="text" value="Это отличный способ связаться с нами" placeholder="Текст подсказки" autocomplete="off">
                                <span class="UI__textEdit__save"></span>
                                <span class="UI__textEdit__close"></span>
                            </span>
                            <span class="UI__textEdit__current">Это отличный способ связаться с нами</span>
                        </span>
                    </span>
                </div>
                <div class="UI__controlPanel__item UI__controlPanel__item--hidden">
                    <span class="UI__controlPanel__button" data-default="Настройки формы"  data-text="Закрыть" data-sidebar=".UI__controlPanel__sidebar__form">Настройки формы</span>
                </div>
                <div class="UI__controlPanel__item UI__controlPanel__item--hidden">
                    <span class="UI__controlPanel__button" data-default="Тюнинг работы"  data-text="Закрыть" data-sidebar=".UI__controlPanel__sidebar__tuning">Тюнинг работы</span>
                </div>
                <div class="UI__controlPanel__item UI__controlPanel__item--footer"></div>
            </div>
        </div>
    </div>

<script>

    var $ = this,
    $scope = $$($.root);

    this.on("mount", function(){

        console.log("mount control-offer");

    });

    this.on("unmount", function(){

        console.log("unmount control-offer");

    });

</script>

</control-offer>
