.WD__messenger__body {
    position:absolute;
    top:0;
    left:0;
    bottom:88px;
    width:100%;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    z-index:0;
}
.WD__messenger__content {
    @include abs();
    padding:64px 16px 88px;
}
.WD__messenger__item {
    position:relative;
}
.WD__messenger__item__que {
    text-align:left;
    padding-left:38px;

    .WD__messenger__item__text {
        box-shadow: 0 1px 2px 0 rgba(234,236,238,.8);
        background-color:#fff;
        border:1px solid #dadee2;
        color:$black_text;
        padding:12px 17px;
        border-radius:15px;
        border-bottom-left-radius:9px;
    }
    a {
        color:#0074b0;

        &:hover {
            color:#004c88;
        }
    }
}
.WD__messenger__item__answer {
    text-align:right;

    .WD__messenger__item__text {
        background-color:#9EF2C3;
        border:1px solid #9EF2C3;
        color:$bg_color;
        padding:11px 17px 12px;
        border-radius:17px 15px 10px 19px;
        border-bottom-right-radius:20px;
    }
    a {
        color:$bg_color;
    }
}
.WD__messenger__item__avatar {
    position:absolute;
    top:9px;
    left:-1px;
    width:29px;
    height:29px;
    border-radius:60% 46% 62% 46%;
    background-repeat:no-repeat;
    background-position:top center;
    background-size:cover;
}
.WD__messenger__item__text {
    font-size:14px;
    line-height:20px;
    word-wrap:break-word;
    max-width:272px;
    margin-bottom:4px;

    a {
        border:none;
        text-decoration:underline;
    }
}
.WD__messenger__item__text,
.WD__messenger__item__image {
    display:inline-block;
    vertical-align:top;
    position:relative;
}
.WD__messenger__item__image {
    max-width:264px;
    max-height:264px;
    margin-bottom:8px;
    cursor:zoom-in;

    &:after {
        content:"";
        @include abs();
        border-radius:6px;
        background-color:#e4e5e7;
        opacity:0;
    }
    &--active {
        .WD__messenger__item__image__file {
            opacity:0;
        }
        &:after {
            opacity:1;
        }
    }
}
.WD__messenger__item__image__file {
    border-radius:6px;
    cursor:zoom-in;
    max-width:264px;
    max-height:264px;
    opacity:0.95;
    border:1px solid transparent;
}
.WD__messenger__item__metadata {
    font-size:12px;
    line-height:20px;
    color:#b0bec5;
    padding-bottom:16px;
    margin-top:-2px;
}
.WD__messenger__item__text:before,
.WD__messenger__item__text:after {
    content: "";
    position: absolute;
    pointer-events: none;
}
.WD__messenger__item__que {
    .WD__messenger__item__text:before,
    .WD__messenger__item__text:after {
        top: 19px;
        right:100%;
        height: 0;
        width: 0;
        border: solid transparent;
    }
    .WD__messenger__item__text:before {
        border-right-color:#dadee2;
        border-width:4px;
    }
    .WD__messenger__item__text:after {
        border-right-color:#fff;
        border-width:3px;
        margin-top:1px;
    }
}
.WD__messenger__item__que--next {
    .WD__messenger__item__text {
        border-bottom-left-radius:15px;
        border-top-left-radius:9px;
    }
    .WD__messenger__item__text:before,
    .WD__messenger__item__text:after {
        display:none;
    }
}
.WD__messenger__item__answer {
    .WD__messenger__item__text:before {
        content: '';
        display: block;
        width: 15px;
        height: 10px;
        position: absolute;
        left:auto;
        right: -5px;
        top:auto;
        bottom: 0;
        border-left: 10px solid #9EF2C3;
        border-bottom-left-radius: 100%;
        z-index: -1;
    }
}
.WD__messenger__item__answer--first {
    .WD__messenger__item__text {
        border-bottom-right-radius:9px;
    }
    .WD__messenger__item__text:before {
        display:none;
    }
}
.WD__messenger__item__text__file {
    text-align:right;

    &:before {
        content:"";
        position:absolute;
        top:10px;
        left:13px;
        width:22px;
        height:22px;
        opacity:0.85;
        background:url(/public/images/messenger_file.svg) no-repeat 0 0 / cover;
    }
    &:after {
        content:"";
        position:absolute;
        top:21%;
        left:42px;
        width:1px;
        height:58%;
        background:#b0bec5;
    }
}
.WD__messenger__item__text__file__name {
    display:inline-block;
    vertical-align:top;
    max-width:84%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
