.WD__messenger__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    padding: 8px 6px 0;
    z-index:1;
}
.WD__messenger__form {
    display:block;
    position:relative;
    border-radius:4px;
    border:1px solid #cfd8dc;
    min-height: 42px;
    margin:0 auto;
    max-width: 336px;
    padding:0;
}
.WD__messenger__form--focused {
    border-color:#72beff;
    box-shadow:0 0 4px rgba(75, 171, 255, .38);
}
.WD__messenger__form__textarea {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    color: #455a64;
    resize: none;
    border: none;
    font-size: 14px;
    line-height: 20px;
    min-height: 40px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    padding: 10px 70px 5px 14px;
    border-radius: 4px;
    cursor: text;
    margin:0;
}
.WD__messenger__form__textarea::-webkit-input-placeholder {
    color: #b0bec5;
}
.WD__messenger__form__textarea::-moz-placeholder {
    color: #b0bec5;
}
.WD__messenger__form__buttons {
    position:absolute;
    top:8px;
    right:12px;
    font-size:0;
}
.WD__messenger__form__button {
    display:inline-block;
    vertical-align:top;
    background-position:0 0;
    background-repeat:no-repeat;
    background-size:cover;
    margin-left:6px;
    cursor:pointer;
    opacity:0.4;
    transition:opacity 0.1s $cubic215;

    &:hover {
        opacity:1;
    }
}
.WD__messenger__form__button__file {
    width:22px;
    height:22px;
    background-image:url(/public/images/messenger_file.svg);
}
.WD__messenger__form__button__smile {
    width:19px;
    height:19px;
    margin-top:1px;
    background-image:url(/public/images/messenger_smile.svg);
}
.WD__messenger__form__copyright {
    width: 100%;
    color: #b0bec5;
    text-align: center;
    clear: both;
    font-weight:400;
    font-size:13px;
    line-height: 22px;
    padding: 8px;

    a {
        color:#90a4ae;
        transition:color 0.2s $cubic215;

        &:hover {
            color: #465c66;
        }
    }
}
