.WD__messenger {
    display:none;
    position:fixed;
    width:369px;
    height:100%;
    transition:transform 0.4s $cubic34, right 0.4s $cubic34;
    transform:translate3d(100%, 0, 0);
    will-change:transform, opacity, right;
    background:#fafafb;
    background:rgba(250,250,251,.98);
    border-left:1px solid lighten(#dadee2,4%);
    box-shadow:0 0 4px 1px rgba(#000,.08);
    @include accelerate();
    right:60px;
    color:#000C2F;
    font-weight:400;
    font-size:15px;
    line-height:15px;
    font-family:$default;
    z-index:200003;

    &--active {
        display:block;
    }
    &--expanded {
        transform:translate3d(0, 0, 0);
        transition:transform 0.47s $cubic645, right 0.47s $cubic645;
        right:0px;
    }
    &--open {
        animation:WD__messenger__open 0.37s $cubic57;

        .WD__messenger__wrapper {
            animation:WD__messenger__elem-open 0.42s $cubic25;
        }
    }
    &--close {
        animation:WD__messenger__close 0.3s $cubic34;
    }
}
@keyframes WD__messenger__open {
    0% {
        opacity:0;
        transform:translate3d(400px, 0, 0) scale3d(1, 0, 1);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
@keyframes WD__messenger__elem-open {
    0%, 20% {
        opacity:0;
        transform:translate3d(150px, 0, 0);
    }
    100% {
        opacity:1;
        transform:translate3d(0, 0, 0);
    }
}
@keyframes WD__messenger__close {
    0% {
        opacity:1;
        transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    100% {
        opacity:0;
        transform:translate3d(400px, 0, 0) scale3d(1, 0, 1);
    }
}
.WD__messenger__wrapper {
    @include abs();
    @include accelerate(true);
}
.WD__messenger__blob {
    top: 0;
    z-index: -1;
    left: 60px;
    transform:translate3d(-100%, 0, 0) scaleX(-1);
    height: 100%;
    position: absolute;
}
.WD__messenger__blob__path {
    height: 100%;
    fill:#fafafb;
    fill:rgba(250,250,251,.98);
}
.WD__messenger--hoverZone {
    border:none;
    box-shadow:none;

    .WD__messenger__blob {
        filter:drop-shadow(0 0 4px rgba(#000,.08));
    }
    .WD__messenger__blob__path {
        stroke:lighten(#dadee2,4%);
    }
}
