.WD__messenger__viewer {
    @include abs(fixed);
    @include accelerate();
    transform:translate3d(101%, 0, 0);
    transition:transform 0s 0.3s;
    z-index:200005;

    &--active {
        transform:translate3d(0, 0, 0);
        transition:transform 0s;

        .WD__messenger__viewer__overlay {
            opacity:0.78;
        }
    }
}
.WD__messenger__viewer__overlay {
    @include abs(fixed);
    background-color:#000;
    opacity:0;
    cursor:zoom-out;
    will-change:opacity;
    @include accelerate(true);
    transition:opacity 0.3s ease;
}
.WD__messenger__viewer__image {
    position:fixed;
    cursor:zoom-out;
    @include accelerate(true);
    will-change:transform;
    transition:all 0.3s ease;
    border-radius:4px;
}
