.WD__clouds {
    display:none;
    position:fixed;
    bottom:-15px;
    left:50%;
    width:990px;
    margin-left:-495px;
    z-index:200000;
}
.WD__clouds__item {
    position:absolute;
    border-radius:49%;
    cursor:default;

    &:before {
        content:"";
        @include abs();
        border-radius:49%;
        will-change:transform;
        transform:translate3d(0, 0, 0);
        transition:transform 0.5s $cubic215;
    }
    &:after {
        content:"";
        background-repeat:no-repeat;
        background-size:cover;
        will-change:transform;
        transition:transform 0.4s cubic-bezier(0.42, 0, 0.05, 1.25);
    }
    &:hover {
        z-index:5;

        &:before {
            transition:transform 0.25s $cubic215;
        }
        .WD__clouds__item__title {
            opacity:1;
            transform:translate3d(0, 0, 0) scale(1);
            transition:opacity 0.3s cubic-bezier(0.42, 0, 0.05, 1.2) 0.1s, transform 0.3s cubic-bezier(0.42, 0, 0.05, 1.2) 0.1s;
        }
    }
}
.WD__clouds__item__title {
    position:absolute;
    top:0;
    left:0;
    color:#fff;
    font-family:$roboto;
    font-weight:300;
    font-size:18px;
    line-height:25px;
    opacity:0;
    will-change:opacity, transform;
    white-space:nowrap;
    -webkit-font-smoothing:auto;
    text-shadow:0 1px 0 rgba($black_dark,.25);
    transform:translate3d(0, 0, 0) scale(0);
    transition:opacity 0.3s $cubic57, transform 0.3s $cubic57;
}
.WD__clouds__item__title__strong {
    display:inline-block;
    vertical-align:top;
    font-family:$roboto;
    font-size:22px;
    font-weight:bold;
    -webkit-font-smoothing:antialiased;
    text-shadow:0 1px 0 rgba($black_dark,.25);
}
.WD__cloud__contacts {
    left:0;
    bottom:-26px;
    width:240px;
    height:236px;
    z-index:1;

    .WD__clouds__item__title {
        font-size:18px;
        line-height:25px;
        margin:72px 0 0 0;
    }
    &:before {
        background-image:linear-gradient(-310deg, #ff6562, rgba(#ff6562,.88));
    }
    &:after {
        @include abs_50(118, 118);
        margin:-78px 0 0 -92px;
        background-image:url(/public/images/clouds/cloud_contacts.svg);
    }
    &:hover {
        &:before {
            transform:translate3d(0, -10px, 0) scale(1.2);
        }
        &:after {
            transform:translate3d(110px, -25px, 0) scaleX(-1);
        }
    }
}
.WD__cloud__reviews {
    left:140px;
    bottom:-20px;
    width:256px;
    height:256px;
    z-index:2;

    .WD__clouds__item__title {
        margin:92px 0 0 7px;
    }
    &:before {
        background-image:linear-gradient(310deg, rgba(#00dad8,.92), #00dad8);
    }
    &:after {
        @include abs_50(108, 108);
        margin-top:-81px;
        background-image:url(/public/images/clouds/cloud_reviews.svg);
    }
    &:hover {
        &:before {
            transform:translate3d(0, 0, 0) scale(1.2);
        }
        &:after {
            transform:translate3d(40px, -45px, 0) scaleX(-1);
        }
    }
}
.WD__cloud__menu {
    left:320px;
    bottom:-50px;
    width:226px;
    height:226px;
    z-index:1;

    .WD__clouds__item__title {
        margin:38px 0 0 -20px;
        text-align:center;
        width:100%;
    }
    &:before {
        background-image:linear-gradient(-310deg, #9a64ff, rgba(#9a64ff,.88));
    }
    &:after {
        // @include abs_50(130, 130);
        // margin:-95px 0 0 -68px;
        // background-image:url(/public/images/clouds/cloud_mail.svg);
        @include abs_50(98, 98);
        margin:-74px 0 0 -34px;
        background-image:url(/public/images/clouds/cloud_menu.svg);
    }
    &:hover {
        &:before {
            transform:translate3d(0, -45px, 0) scale(1.42);
        }
        &:after {
            transform:translate3d(10px, -101px, 0) scaleX(-1) scale(0.95);
        }
    }
}
.WD__cloud__social {
    left:505px;
    bottom:-50px;
    width:246px;
    height:246px;
    z-index:2;

    .WD__clouds__item__title {
        margin:55px 0 0 -5px;
    }
    &:before {
        background-image:linear-gradient(-310deg, #ff4cab, rgba(#ff4cab,.92));
    }
    &:after {
        @include abs_50(144, 144);
        margin-top:-102px;
        background-image:url(/public/images/clouds/cloud_social.svg);
    }
    &:hover {
        &:before {
            transform:translate3d(0, -30px, 0) scale(1.3);
        }
        &:after {
            transform:translate3d(25px, -88px, 0) scaleX(-1);
        }
    }
}
.WD__cloud__messenger {
    right:0;
    bottom:-40px;
    width:271px;
    height:264px;
    // background:#ffa300;
    z-index:1;

    .WD__clouds__item__title {
        margin:85px 0 0 10px;
    }
    &:before {
        background-image:linear-gradient(-310deg, darken(#FFCD33, 3%), rgba(darken(#FFCD33, 3%),.88));
    }
    &:after {
        @include abs_50(128, 128);
        margin:-88px 0 0 -42px;
        transform:scaleX(-1);
        background-image:url(/public/images/clouds/cloud_messenger.svg);
    }
    &:hover {
        &:before {
            transform:translate3d(0, -15px, 0) scale(1.15);
        }
        &:after {
            transform:translate3d(35px, -35px, 0) scaleX(1) scaleY(-1);
        }
    }
}

// .WD__clouds__item:before {
//     background-image:linear-gradient(310deg, rgba(#404040, 1), rgba(#28282A,.96));
// }
// .WD__panel:after {
//     background-image:linear-gradient(to right, #ff6562 20%, #00dad8 40%, #9a64ff 60%, #ff4cab 80%, #FFCD33 100%);
// }
// // #frame {
// //     background:linear-gradient(#edf4f7,#daf0f8);
// //     background:linear-gradient(lighten(#B8A081, 34%),lighten(#B8A081,26%));
// //     background:linear-gradient(#f7f0f9,#fff6fe);
// //     background:linear-gradient(to bottom, #FFFFFF 0%, #F4F4F4 25%);
// //     background:linear-gradient(to bottom, #d7dfe3 0%, #fafbfc 100%);
// //     background:rgb(235, 240, 240);
// //     background:#f8f8f8;
// // }
// #frame {
//     background:linear-gradient(#fff, #f2f2f2);
//     filter:none;
// }
// #logo {
// 	position:absolute;
// 	top:6%;
// 	left:0;
//     width:100%;
//     height:82px;
//
//     svg {
//         @include abs_50(82, 82);
//         opacity:0.15;
//         transform:rotate(35deg);
//     }
// }
// #title {
//     position:absolute;
//     top:50%;
//     left:0;
//     width:100%;
//     color:$black_dark;
//     font-family:'Myriad Set Pro';
//     font-size:52px;
//     line-height:1.07724;
//     font-weight:200;
//     letter-spacing:-0.016em;
//     text-align:center;
//     text-rendering:optimizeLegibility;
// 	-webkit-font-smoothing:antialiased;
// 	-moz-osx-font-smoothing: grayscale;
//     -moz-font-feature-settings:'liga', 'kern';
//     margin-top:-94px;
//
//     &:before {
//         content:"";
//         position:absolute;
//         top:0;
//         left:50%;
//         width:64px;
//         height:1px;
//         margin:-49px 0 0 -32px;
//         background:#DEDEDE;
//     }
// }
// #subtitle {
//     display:block;
//     font-size:28px;
//     line-height:28px;
//     padding-top:8px;
// }
// .WD__title__button {
//     display:inline-block;
//     vertical-align:top;
//     height:54px;
//     padding:0 40px;
//     border-radius:32px;
//     color:#fff;
//     font-weight:300;
//     font-family:$roboto;
//     font-size:19px;
//     line-height:54px;
//     margin-top:30px;
//     background:#28282A;
//     box-shadow:0 16px 36px -13px rgba(#000,.67);
//     cursor:pointer;
//     transition:color .25s $cubic215, background .3s $cubic215, box-shadow .4s $cubic34, transform .2s $cubic34;
//     overflow:hidden;
//
//     svg {
//         display:inline-block;
//         stroke:#fff;
//         fill:#fff;
//         width:24px;
//         height:24px;
//         margin-right:11px;
//         vertical-align:text-bottom;
//         transition:stroke .25s $cubic215, transform .3s $cubic215;
//     }
//     &:hover {
//         color:#222;
//         background:#fff;
//         box-shadow:0 8px 16px -13px rgba(#000,.4);
//
//         svg {
//             stroke:#222;
//             transform:scale(1.2);
//         }
//     }
//     &:active {
//         transform:translate3d(0, 2px, 0) scale(0.8);
//     }
// }
