.WD__panel {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    color:rgba(#000,.8);
    font-weight:400;
    font-size:15px;
    line-height:15px;
    font-family:$default;
    text-align:center;
    user-select:none;
    transition:transform 0.3s $cubic34;
    @include accelerate();
    transform:translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform-origin:center center 0;
    z-index:200002;

    &--hide {
        transform:translate3d(0, 57px, 0) scale3d(0.2, 0.4, 1);

        .WD__panel__popup {
            transition:transform .1s $cubic34, opacity .1s $cubic34, margin-left 0s 0.1s !important;
            transform:translate3d(0, 0, 0) scale(0);
            opacity:0;
        }
    }
}
.WD__panel a {
    position:relative;
    font-size:15px;
    color:rgba(#000,.8);
    text-decoration:none;
    vertical-align:bottom;
    transition:transform .12s $cubic215, color .12s $cubic215;
}
.WD__panel__wrapper {
    display:inline-block;
    // min-width:740px;
    height:57px;
    padding:4px 20px 9px 25px;
    background:#fff;
    box-shadow:0 0 1px rgba(0,0,0,.44);
    border-radius:6px 6px 0 0;
    vertical-align:bottom;
    font-size:0px;
    line-height:42px;
    text-align:left;
    will-change:transform;
    transition:transform 0.3s $cubic34 0.2s;
    transform:translate3d(0, 5px, 0);
    @include accelerate();
}
.WD__panel:after {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    will-change:transform;
    transform:scale(0);
    transition:transform 0.5s $cubic57 0.2s;
    opacity:0.98;
}
.WD__panel:hover {
    &:after {
        transform:scale(1);
        transition-delay:0s;
    }
    .WD__panel__wrapper {
        transform:translate3d(0, 0, 0);
        transition-delay:0s;
    }
}
.WD__panel__separator {
    @include WD__panel__separator();
}
.d-safari {
    .WD__panel__separator {
        margin-top:10px;
    }
}
.WD__panel__item {
    display:none;
    vertical-align:top;

    &[data-active='true'] {
        display:inline-block;
    }
    &[data-active='false'] ~ .WD__panel__separator {
        display:none;
    }
}
.WD__panel__item__wrapper {
    display:inline-block;
}
.WD__panel__item__reviews {
    margin-right:1px;
}
.WD__panel__button__circle {
    position:relative;
    width:37px;
    height:37px;
    border-radius:50%;
    margin:2px 6px 0;
    vertical-align:middle;
    transition:background .2s $cubic215, transform .2s $cubic215;
    cursor:pointer;

    &:hover {
        background:#222 !important;
        transform:translate3d(0, -2px, 0) scale(1.1);
    }
    &:active {
        transition:background .2s $cubic215, transform .12s $cubic215;
        transform:translate3d(0, 2px, 0) scale(0.8);
    }
}
.d-safari {
    .WD__panel__button__circle {
        margin-top:4px;
    }
}
// .WD__panel__button__circle__badge {
//     position:absolute;
//     top:-2px;
//     left:-3px;
//     width:15px;
//     height:15px;
//     background:#ff3d00;
//     border-radius:50%;
//     color:#fff;
//     font-size:11px;
//     line-height:14px;
//     font-weight:bold;
//     text-align:center;
//     z-index:1;
//
//     &:before {
//         display:none;
//         content:"";
//         @include abs_50(74, 74);
//         border-radius:50%;
//         background-clip:padding-box;
//         border:1px solid #ff3d00;
//         box-shadow:0 0 20px rgba(#ff3d00,.5),inset 0 0 10px rgba(#ff3d00,.8);
//         background:-webkit-radial-gradient(center,ellipse cover,#fff 0,rgba(255,255,255,.8) 100%);
//         animation:map 1.2s infinite linear;
//         z-index:-1;
//     }
// }
// .WD__panel__button__circle__badge__point {
//     @include abs_50(7, 7);
//     background:#fff;
//     border-radius:50%;
// }
// @keyframes map {
//     0% {
//         transform:scale(0);
//         opacity:0;
//     }
//     50% {
//         opacity:1;
//     }
//     100% {
//         transform:scale(1);
//         opacity:0;
//     }
// }
.WD__panel__button__circle--first {
    margin-left:0;
}
.WD__panel__button__circle:after {
    content:"";
    @include abs_50(25, 25);
    transition:transform 0.25s $cubic34;
}
.WD__panel__button__circle:hover:after {
    transform:rotate(180deg);
}
.WD__panel__button__map:after {
    background:url(/public/images/panel_button_map.svg) no-repeat 0 0 / cover;
}
.WD__panel__button__mail:after {
    background:url(/public/images/panel_button_mail.svg) no-repeat 0 0 / cover;
}
.WD__panel__button__menu:after {
    background:url(/public/images/panel_button_menu.svg) no-repeat 0 0 / cover;
}
.WD__panel__button {
    display:inline-block;
    height:37px;
    padding:0 16px;
    color:#00ab6b;
    font-size:14px;
    line-height:34px;
    border:1px solid #02b875;
    text-align:center;
    white-space:nowrap;
    cursor:pointer;
    border-radius:999em;
    vertical-align:bottom;
}
