.WD__panel {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    color:rgba(#000,.8);
    text-align:center;
    user-select:none;
    z-index:200002;
}
$WD__panel: #00ab6b;

.WD__panel a {
    position:relative;
    display:inline-block;
    font-size:15px;
    color:rgba(#000,.8);
    text-decoration:none;
    vertical-align:bottom;
    transition:transform .12s $cubic215, color .12s $cubic215;

    &:hover {
        color:#00ab6b;
    }
}
.WD__panel__wrapper {
    display:inline-block;
    min-width:740px;
    height:57px;
    padding:4px 15px 9px 25px;
    background:#fff;
    box-shadow:0 0 1px rgba(0,0,0,.44);
    border-radius:6px 6px 0 0;
    vertical-align:bottom;
    line-height:42px;
    text-align:left;
    will-change:transform;
    transition:transform 0.3s $cubic34;
    transform:translate3d(0, 5px, 0);
}
.WD__panel:after {
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    background:$WD__panel;
    will-change:transform;
    transform:scale(0);
    transition:transform 0.5s $cubic57;
}
.WD__panel:hover,
.WD__panel--active {
    &:after {
        transform:scale(1);
    }
    .WD__panel__wrapper {
        transform:translate3d(0, 0, 0);
    }
}
.WD__panel__left {
    float:left;
}
.WD__panel__right {
    float:right;
    padding-left:30px;
}
.WD__panel__separator {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 24px;
    margin: 0 16px;
    background-color:rgba(#000,.15);
}
.WD__panel__button__circle {
    position:relative;
    display:inline-block;
    width:37px;
    height:37px;
    border-radius:50%;
    margin:0 4px;
    background:$WD__panel;
    vertical-align:middle;
    transition:background .2s $cubic215, transform .2s $cubic215;
    cursor:pointer;

    &:hover {
        background:#222;
        transform:translate3d(0, -2px, 0) scale(1.1);
    }
    &:active {
        transition:background .2s $cubic215, transform .12s $cubic215;
        transform:translate3d(0, 2px, 0) scale(0.8);
    }
}
.WD__panel__button__circle__badge {
    position:absolute;
    top:-2px;
    left:-3px;
    width:15px;
    height:15px;
    background:#ff3d00;
    border-radius:50%;
    color:#fff;
    font-size:11px;
    line-height:14px;
    font-weight:bold;
    text-align:center;
    z-index:1;

    &:before {
        display:none;
        content:"";
        @include abs_50(74, 74);
        border-radius:50%;
        background-clip:padding-box;
        border:1px solid #ff3d00;
        box-shadow:0 0 20px rgba(#ff3d00,.5),inset 0 0 10px rgba(#ff3d00,.8);
        background:-webkit-radial-gradient(center,ellipse cover,#fff 0,rgba(255,255,255,.8) 100%);
        animation:map 1.2s infinite linear;
        z-index:-1;
    }
}
@keyframes map {
    0% {
        transform:scale(0);
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        transform:scale(1);
        opacity:0;
    }
}
.WD__panel__button__circle--first {
    margin-left:0;
}
.WD__panel__button__circle:after {
    content:"";
    @include abs_50(25, 25);
    transition:transform 0.25s $cubic34;
}
.WD__panel__button__circle:hover:after {
    transform:rotate(180deg);
}
.WD__panel__button__map:after {
    background:url(/public/images/panel_button_map.svg) no-repeat 0 0 / cover;
}
.WD__panel__button__menu:after {
    background:url(/public/images/panel_button_menu.svg) no-repeat 0 0 / cover;
}
.WD__panel__messenger__avatar {
    position:relative;
    display:inline-block;
    vertical-align:top;
    margin-right:5px;
    will-change:transform;
    transition:transform 0.2s cubic-bezier(0.42, 0, 0.05, 2);

    &:after {
        content:"";
        position:absolute;
        top:0;
        left:-1px;
        width:12px;
        height:12px;
        background:#05d29f;
        border-radius:50%;
        border:2px solid #fff;
    }
}
.WD__panel__messenger__avatar__image {
    display:inline-block;
    width:42px;
    height:42px;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:50%;
    overflow:hidden;
    vertical-align:top;
    border:2px solid #ccc;
}
.WD__panel__messenger:before {
    opacity:0;
    content:attr(data-content);
    position:absolute;
    top:0;
    left:52px;
    white-space:nowrap;
    will-change:transform, opacity;
    transform:translate3d(0, 60px, 0) rotate(30deg);
    transition:opacity 0.35s $cubic215 0.1s, transform 0.35s $cubic215 0.1s;
}
.WD__panel__messenger__item {
    will-change:opacity;
    transition:opacity 0.35s $cubic215 0.1s;
}
.WD__panel__messenger {
    &:hover {
        .WD__panel__messenger__avatar {
            transform:translate3d(0, -7px, 0) scale(1.1);
        }
        &:before {
            opacity:1;
            transform:translate3d(0, 0, 0) rotate(0deg);
            transition:opacity 0.2s $cubic215 0.1s, transform 0.35s cubic-bezier(0.42, 0, 0.05, 1.25) 0.1s;
        }
        .WD__panel__messenger__item {
            opacity:0;
            transition:opacity 0.2s $cubic215 0.1s;
        }
    }
    &:active {
        transform:translate3d(0, 2px, 0) scale(0.9);
    }
}
.WD__panel__button {
    display:inline-block;
    height:37px;
    padding:0 16px;
    color:#00ab6b;
    font-size:14px;
    line-height:34px;
    border:1px solid #02b875;
    text-align:center;
    white-space:nowrap;
    cursor:pointer;
    border-radius:999em;
    vertical-align:bottom;
}
