.WD__products__title {
    transition:opacity 0.3s $cubic57;
}
.WD__products__item {
    will-change:width;
    transition:width 0.4s $cubic34;
}
.WD__products__item__photo {
    will-change:height;
    transition:height 0.4s $cubic34;
}
.WD__products__item__image {
    will-change:transform;
    transition:transform 0.4s $cubic34;
}
.WD__products__wrapper {
    margin-left:514px;
    width:calc(100% - 514px);

    &:before {
        will-change:opacity;
        transition:opacity 0.3s $cubic34;
    }
    &:after {
        content:"";
        position:absolute;
        bottom:-60px;
        left:-100%;
        width:200%;
        height:125%;
        z-index:2;
    }
}
.WD__products__hoverZone {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
}
.WD__products {
    opacity:0;
    position:fixed;
    width:100%;
    left:0;
    bottom:113px;
    margin-left:-999em;
    transform:translate3d(0, 10px, 0);
    will-change:opacity, transform;
    transition:opacity .2s $cubic34, transform .2s $cubic34, margin-left 0s 0.2s;
    z-index:200005;

    &:before {
        content:"";
        @include abs();
        left:45px;
        width:calc(100% - 90px);
        opacity:0;
        box-shadow:-20px 1px 40px -13px rgba(#000,.4);
        will-change:opacity;
        transition:opacity 0.3s $cubic34;
    }
    &:after {
        content:"";
        @include abs();
        background-color:#fff;
        opacity:0;
        will-change:opacity;
        transition:opacity 0.3s $cubic34;
    }
}
.WD__products--active {
    opacity:1;
    margin-left:0;
    transform:translate3d(0, 0, 0);
    transition:opacity .25s $cubic34 0.12s, transform .25s $cubic34 0.12s, margin-left 0s 0.12s;
}
.WD__products--open {
    transition:opacity .25s $cubic215, transform .3s $cubic215, margin-left 0s;

    &:before,
    &:after,
    .WD__products__title,
    .WD__products__item,
    .WD__products__item__photo,
    .WD__products__item__image {
        transition:none;
    }
}
.WD__products--show,
.WD__products--open {
    opacity:1;
    margin-left:0;
    transform:translate3d(0, 0, 0);

    &:before,
    &:after {
        opacity:1;
    }
    .WD__products__wrapper:after,
    .WD__products__hoverZone {
        display:none;
    }
    .WD__products__title {
        opacity:0;
    }
    .WD__products__title__big {
        opacity:1;
        transform:translate3d(0, 0, 0);
        transition:opacity 0.4s $cubic34 0.1s, transform 0.4s $cubic34 0.1s;
    }
    .WD__products__item {
        width:376px;
    }
    .WD__products__item__photo {
        height:307px;
    }
    .WD__products__item__image {
        // max-width:307px;
        // max-height:307px;
        transform:translate3d(0, 0, 0) scale(1.3);
    }
    .WD__products__wrapper:before {
        opacity:0;
    }
    .WD__products__arrow__next__icon {
        opacity:0.4;
        transform:translate3d(0, 0, 0);
    }
    .WD__products__handler {
        opacity:1;
        transform:translate3d(0, 0, 0) scale(1);
        transition:opacity 0.4s $cubic34 0.1s, transform 0.4s $cubic34 0.1s;
    }
    ~ .WD__products__overlay {
        opacity:1;
        transform:translate3d(0, 0, 0);
        transition:opacity 0.25s $cubic34, transform 0s;
    }
}
.WD__products--hide {
    opacity:0;
    transform:translate3d(0, 0, 0) scale(1.1);
    transition:opacity .25s $cubic57, transform .25s $cubic57;

    .WD__products__handler {
        opacity:0;
        transform:translate3d(0, 0, 0) scale(0);
        transition:opacity 0.15s $cubic57, transform 0.15s $cubic57;
    }
    ~ .WD__products__overlay {
        opacity:0;
        transition:opacity 0.3s $cubic57, transform 0s 0.3s;
    }
}
.WD__products__title__big {
    display:block;
    position:absolute;
    top:-50px;
    right:60px;
    width:100%;
    color:rgba($black_light,.3);
    font-family:$roboto;
    font-size:58px;
    line-height:58px;
    font-weight:300;
    letter-spacing:-3.5px;
    text-align:right;
    opacity:0;
    will-change:opacity, transform;
    transform:translate3d(0, 10px, 0);
    transition:opacity 0.3s $cubic57, transform 0.3s $cubic57;
}
.WD__products__handler {
    position:absolute;
    bottom:-113px;
    left:50%;
    width:70px;
    height:70px;
    margin-left:-35px;
    opacity:0;
    will-change:opacity, transform;
    transform:translate3d(0, 20px, 0) scale(0);
    transition:opacity 0.3s $cubic57, transform 0.3s $cubic57;

    &:before {
        content:"";
        position:absolute;
        bottom:20px;
        left:0;
        width:70px;
        height:70px;
        background:#fff;
        border-radius:50%;
    }
    &:after {
        content:"";
        position:absolute;
        bottom:0;
        left:50%;
        width:45px;
        height:30px;
        margin-left:-22.5px;
        background:url(/public/images/tooltip_blob_white.svg) no-repeat 0 0 / cover;
        transform:scaleY(-1) scale3d(5, 1, 1);
    }
}
.WD__products__handler__icon {
    @include abs_50(45, 45);
    transform:translate3d(0, -19px, 0);
    opacity:0.9;
    background:url(/public/images/swipe_left.svg) no-repeat 0 0 / cover;
}
.WD__products__overlay {
    opacity:0;
    @include abs();
    position:fixed;
    background-image:linear-gradient(235deg,rgba(242,250,252,.95),darken(rgba(242,250,252,.85), 7%));
    will-change:opacity;
    transition:opacity 0.4s $cubic34, transform 0s 0.4s;
    transform:translate3d(-101%, 0, 0);
    z-index:200004;

    .WD__section__close {
        background-image:url(/public/images/section_close_gray.svg);
    }
}
