.WD__products__minify {
    position:fixed;
    bottom:132px;
    left:0;
    width:45px;
    height:30px;
    margin-left:-16px;
    font-family:$default;
    font-weight:400;
    z-index:200003;

    &:before {
        content:"";
        display:block;
        width:45px;
        height:30px;
        background:url(/public/images/tooltip_blob.svg) no-repeat 0 0 / cover;
        transform:scaleX(-1) rotate(90deg) scale3d(5, 1, 1);
    }
}
.WD__products__minify__items {
    position:absolute;
    bottom:-18px;
    left:0;
    z-index:1;
}
.WD__products__minify__item {
    opacity:0;
    padding-top:10px;
    cursor:pointer;
    will-change:opacity, transform;
    transform:translate3d(0, 0, 0);
    transition:opacity 0.25s $cubic57, transform 0.25s $cubic34;
}
.WD__products__minify__item--active {
    opacity:1;
    transform:translate3d(26px, 0, 0);
}
.WD__products__minify__image {
    display:block;
    width:70px;
    height:69px;
    border-radius:49%;
    background-clip:padding-box;
    border:4px solid rgba(#fff,.8);
    background-color:#fff;
    background-position:center top;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:0 8px 16px -8px rgba($bg_color,.6);
}
.WD__products__minify__items:hover {
    .WD__products__minify__item {
        opacity:1;
        transform:translate3d(26px, 0, 0);

        &:hover {
            transform:translate3d(26px, 0, 0) scale(1.2);
        }
        &:active {
            transform:translate3d(26px, 0, 0) scale(0.8);
            transition:transform 0.2s $cubic215;
        }
    }
}
.WD__products__minify__button__slider {
    position:absolute;
    top:100%;
    left:30px;
    height:90px;
    padding-top:28px;
    will-change:transform, opacity;
    transform:scale(0.4);
    transition:opacity 0.25s $cubic57, transform 0.25s $cubic34;
    opacity:0;
}
.WD__products__minify__button__slider__item {
    position:relative;
    display:block;
    border-radius:49%;
    width:62px;
    height:61px;
    background:#28282A;
    cursor:pointer;
    box-shadow:0 8px 16px -8px rgba($bg_color,.6);
    transition:background 0.25s $cubic215;
}
.WD__products__minify__button__slider__icon {
    @include abs_50(48, 48);
    transform:translate3d(0, 4px, 0);
}
.WD__products__minify__button__slider__fill {
    fill:rgba(#fff,.95);
    transition:fill 0.25s $cubic215;
}
.WD__products__minify:hover {
    .WD__products__minify__button__slider {
        opacity:1;
        transform:scale(1);

        &:active {
            transform:scale(0.8);
            transition:transform 0.12s $cubic215;
        }
    }
    .WD__products__minify__tooltip {
        opacity:1;
        transform:translate3d(0, 0, 0);
        margin-left:0;
        transition:opacity 0.25s $cubic57, transform 0.25s $cubic34, margin-left 0s;
    }
}
.WD__products__minify__button__slider:hover {
    .WD__products__minify__button__slider__item {
        background:#fff;
    }
    .WD__products__minify__button__slider__fill {
        fill:$black_light;
    }
}
.WD__products__minify__tooltip {
    opacity:0;
	position:absolute;
    top:58px;
    left:102px;
	background:#262626;
	width:170px;
	padding:10px 15px 11px 16px;
	border-radius:17px;
	text-align:left;
    color:#fff;
    font-size:15px;
    line-height:20px;
	cursor:default;
    margin-left:-999em;
	transition:opacity 0.3s $cubic215, transform 0.3s $cubic215, margin-left 0s 0.3s;
    transform:translate3d(10px, 0, 0);

    &:after {
        content:"";
        position:absolute;
        width: 30px;
    	height: 20px;
    	top: 50%;
        left:-19px;
        margin-top:-10px;
    	background: url(/public/images/tooltip_blob.svg) no-repeat center center;
    	background-size: 100%;
        transform:rotate(90deg);
    }
}
